body {
    background: black;
}
h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    color: grey;
}
.eq {
    color: rgba(105, 105, 155, 0.8);
    position: absolute;
    left: 40%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;
}